form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin-bottom: -10px !important;
}
input{
    width: 334px;
    border: 2px solid black;
    border-radius: 5px;
}
textarea{
    width: 331px;
    border: 2px solid black;
    border-radius: 5px;
}

button{
    margin-right: 15px
}