.homeMain{
    display: flex;
    flex-wrap: wrap;
    word-wrap: none;
    justify-content: space-around;
    width: 75%;
    margin: 100px auto -100px;
}
.homeLeft {
    flex: 1;
    margin: 1rem auto;
  }
  .homeRight{
      flex: 2;
      text-align: center;
  }
  .subheader{
    color: black ;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}
  .subHeader{
    color: black ;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.Header{
font-family: "Anton", sans-serif;
}
.profile
{
    height: 200px;
}